<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__img">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsMLjW7Ts3ob4hxKSrKPptP5CH76da5yZd1iY_gC1v24e6ZfkeOFJtyy0KSsBVEBgRyqE&usqp=CAU"
        alt=""
      />
    </div>

    <div class="small-card__title">
      <h1>
        <a href="#">É possível aprender com aulas online?</a>
      </h1>
    </div>
  </div>
  <div class="container__small-card__separator">
    <hr />
  </div>
</div>
