.container__content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.25rem 0;
}


.content__cover img {
  border: 5px solid #A68851;
  border-radius: 5px;
  width: 31.25rem;
  min-width: 31.25rem;
  height: 18.75rem;
}

.content__description {
  margin: 0.625rem 0;
}

.content__description p {
  margin: 0.625rem 0;
  color: #353440;
}


.full-article {
  width: 900px;
  height: 100%;
}
